<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>SNo</th>
      <th>RoomId</th>
      <th>RoomNo</th>
      <th>Assets count</th>
      <th>Building name</th>
      <th>State</th>
      <th>City</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms; let i=index;" [routerLink]="['/roomDetail', room._id]">
      <td>{{i + 1}}</td>
      <td>{{room._id}}</td>
      <td>{{room.roomNo}}</td>
      <td>{{rooms[0]['assets'].length}}</td>
      <td>{{room.buildingName}}</td>
      <td>{{buildingInfo.state}}</td>
      <td>{{buildingInfo.city}}</td>
      <td>{{buildingInfo.phone}}</td>
    </tr>
  </tbody>
</table>
